<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <link rel='stylesheet' href='/stylesheets/books.css' />

</head>
<body>
    <div id="container">
        <div id="menu">
            <ul>
                <li><a href="http://localhost:3000">Home</a></li>
                <li><a href="http://localhost:3000/books">All books</a></li>
            </ul>
        </div>
        <div id="content">
            <div id="header">
                <div id="title"><h1>Library Books</h1></div>
            </div>
            <div class="frame-title">

            </div>
            <div class="row">
                <div id="box1" class="col">
                    <table cellpadding="5px" cellspacing="0">
                        <thead>
                            <tr style="color: #E8E8E8" align="center">
                                <td width="50px">id</td>
                                <td>Title</td>
                                <td>Author</td>
                                <td>Publisher</td>
                                <td>Price</td>
                            </tr>
                        </thead>
                        <tbody>
                            <%for(var i = 0; i < data.length;i++){%>
                            <tr>
                                <td align="center"><%=data[i].id%></td>
                                <td><%=data[i].title%></td>
                                <td><%=data[i].author%></td>
                                <td><%=data[i].publisher%></td>
                                <td><%=data[i].price%></td>
                                <td width="68px">
                                    <a href="/book/<%=data[i].id%>" >Delete</a>
                                </td>
                                <%}%>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="7"></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <div id="footer"></div>
    </div>
</body>
</html>